<app-header></app-header>

    <mat-card >
        
        
        
        <div style="text-align:center">
            <mat-form-field style="width:600px; margin:auto 0">
                <input matInput #input placeholder="Filter">
                <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
        </div>
        
        <br>
        <div style="text-align:center">
            
            <mat-select name="" id="" class="form-control" #categorie style="width:600px; margin:auto 0" [(value)]="selected">
                <mat-option value="hello" selected>Choose a category</mat-option>
                <mat-option value="cat">cat</mat-option>
                <mat-option value="dog">dog</mat-option>
                <mat-option value="bird">bird</mat-option>
            </mat-select>
        </div>
        
        

    
</mat-card>
<!-- {{ categorie.value }} -->



<div class="d-flex justify-content-center" *ngIf="!(posts) || posts?.length == 0">
    <div class="card divCard" style="width: 38rem;">
        <div class="card-header header">
            <div class="card-body body">
                <h1 class="initialText"> NOTHING TO SHOW YET!</h1>
            </div>
        </div>
    </div>
</div>

<cdk-virtual-scroll-viewport itemSize="500" style="height:700px">
    <div class="d-flex justify-content-center postCardOut" *cdkVirtualFor="let post of posts | search:input.value |categorie:categorie.value">
        <div class="card divCard" style="width: 38rem;">
            <div class="card-header header">
                <div class="row">
                    <div class="col-1 radius">
                        <img src="{{post.user?.image | checkImage}}" class="userImage" alt="user"
                            routerLink="/profile/{{post.user?._id}}">
                    </div>
                    <div class="col">
                        <div *ngIf="post.user">
                            <span class="material-icons" style="font-size:15px">person</span>
                            <span class="clickable" style="color:#350e35;font-size: 20px;"
                                routerLink="/profile/{{post.user?._id}}"> {{ post.user['fname'] }} {{ post.user['lname']
                                }}</span>
                        </div>
                        <div>
                            <span class="material-icons" style="font-size:12px">calendar_today</span>
                            <span style="color:#424042;font-size: 13px;"> .{{ post['date'] |date }}</span>
                        </div>
                    </div>
                    <div class="col-auto">

                        <span [matMenuTriggerFor]="appMenu" class="material-icons"
                            style="cursor:pointer;">more_horiz</span>
                        <mat-menu #appMenu="matMenu">
                            <button mat-menu-item *ngIf="post.user['_id']==user?._id"
                                (click)="editPost(post['_id'],newDescription,validate,cancel)">Edit</button>
                            <button mat-menu-item *ngIf="post.user['_id']==user?._id"
                                (click)="delete(post['_id'])">Delete</button>
                            <button mat-menu-item (click)="popUp(post['_id'])">Report</button>
                        </mat-menu>
                    </div>
                </div>
            </div>
            <div class="card-body body">
                <div class="row">
                    <div #description *ngIf="showOldDescription" class="col-auto">{{ post['description'] }}</div>
                    <textarea #newDescription
                        style="display:none;resize: none; border: none; margin-bottom: 10px;"></textarea>
                </div>
                <div class="row" style="float: right;padding-right: 30px;">
                    <div class="col-auto">
                        <button #validate class="btn btn valider" value="valider"
                            (click)="validatePost(post['_id'],newDescription,validate,cancel)" style="display: none">
                            <span class="material-icons-outlined valider">check</span>
                        </button>
                    </div>
                    <div class="col-auto">
                        <button #cancel class="btn btn cancel" value="cancel"
                            (click)="cancelPostChanges(newDescription,validate,cancel)" style="display: none">
                            <span class="material-icons-outlined cancel">close</span>
                        </button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item col-sm-3 active" *ngFor="let image of post.images">
                                <img class="d-block w-100" src="{{ image }}" alt="">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- <div class="col-sm-3" *ngFor="let image of post['images']">
                    <img src="{{ image }}" alt="post images " class="post">
                </div> 
                -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm" style="margin-left: 10px">
                    <label><a routerLink="/">{{ post['likes']?.length }} people likes</a></label>
                </div>
                <div class="col-sm">
                    <label style="float: right;margin-right: 10px;">
                        <a (click)="showSection(posts.indexOf(post))">{{
                            post['comments']?.length }} comments</a>
                    </label>
                </div>
            </div>
            <div class="card-footer footer">
                <div class="row justify-content-center">
                    <div class="col-sm-3" style="text-align:center;">
                        <button mat-icon-button (click)="addlike(post['_id'])">
                            <span class="material-icons-outlined">favorite</span>
                        </button>
                    </div>
                    <div class="col-sm-3" style="text-align:center;">
                        <button mat-icon-button aria-label="Example icon button with a heart icon"
                            [routerLink]="['showAllComments',post['_id']]" (click)="showSection(posts.indexOf(post))">
                            <span class="material-icons-outlined">comment</span>
                        </button>
                    </div>
                    <div class="col-sm-3" style="text-align:center;">
                        <button mat-icon-button aria-label="Example icon button with a heart icon">
                            <span class="material-icons-outlined">send</span>
                        </button>
                    </div>
                </div>
                <div class="d-flex justify-content-center" *ngIf="showComments[posts.indexOf(post)]">
                    <div class="card" style="width: 38rem;">
                        <div class="card-body">
                            <app-show-all-comments [idpost]="post['_id']"></app-show-all-comments>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>